.second_header_container{
    display: flex;
    justify-content: space-between;
}

.second_search_form{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    padding-top: 10px;
}

.second_search_form input{
    border-radius: 35px;
    border: 1px solid #737373;
    font-size: 18px;
    padding: 3px;
    padding-left: 15px;
}

.second_search_form button{
    background: none;
    border-radius: 35px;
    font-size: 16px;
    width: 100px;
    border: 1px solid #737373;
    cursor: pointer;
}

.sort_container{
    position: relative;
}

.sort_container button{
    background: none;
    border-radius: 35px;
    font-size: 16px;
    width: 150px;
    padding: 6px;
    border: 1px solid #737373;
    cursor: pointer;
}
.sort_container button:active{
    animation: click 0.5s;
}



.sort_container ul{
    display: flex;
    left: 160px;
    top: 0;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    border-radius: 15px;
    transition: all ease-in-out 0.4s;
    gap: 10px;
}

.sort_container ul button{
    min-width: 150px;
    width: unset;
    padding: 5px;
}


@keyframes click {
    from{
        scale: 1;
    }
    to{
        scale: 0.85;
    }
}